* {
    margin: 0;
}

body {
    background-color: rgb(240, 141, 105);
}

header {
    background-color: rgb(54, 52, 52);
    height: 70px;
}

.cabeçalho {
    color: gray;
    list-style: none;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.cabeçalho:hover {
    color: white;
    transition: .5s;
}

main {
    height: 825px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div {
    background-color: white;
    background-repeat: no-repeat;
    height: 600px;
    width: 370px;
    margin: 30px;
    padding: 1px;
    border-radius: 3px 3px 10px 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.308);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.349);
    text-align: center;
}

img {
    width: 370px;
}

h2 {
    padding-top: 20px;
}

.space {
    padding-top: 15px;
}

li {
    font-size: 20px;
    text-align: justify;
    padding-bottom: 10px;
}

p {
    font-size: 20px;
    padding: 10px;
    text-align: justify;
    text-align: left;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 25px;
    text-align: center;
    font-weight: bold;
}

@media(min-width: 480px){
    main {
        grid-template-columns: repeat(1, 1fr);
        height: 2000px;
    }
}

@media(min-width: 864px){
    main {
        grid-template-columns: repeat(2, 1fr);
        height: 1400px;
    }
}

@media(min-width: 1295px){
    main {
        grid-template-columns: repeat(3, 1fr);
        height: 815px;
    }
}


